extends ../components/layout.pug

block title
	title 意见列表

block hdQuote
	link(rel="stylesheet", href="../css/idea.styl")

block ctn
	ul.ideas
		li.ideas-item
			a(href="")
				div.flex.aic
					p.mrauto 二维码扫描问题
					img.ideas-item-icon(src="../images/arrow-right.png")
		li.ideas-item
			a(href="")
				div.flex.aic
					p.mrauto 二维码扫描问题
					img.ideas-item-icon(src="../images/arrow-right.png")
		li.ideas-item
			a(href="")
				div.flex.aic
					p.mrauto 二维码扫描问题
					img.ideas-item-icon(src="../images/arrow-right.png")

	a.create 我有建议