doctype html
html(lang="zh-CN")
	head
		meta(charset="UTF-8")

		block title
			title 社区服务

		meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')

		script(src="../../lib/flexible.js")
		link(rel="stylesheet", href="../../lib/frozen.min.css")
		link(rel="stylesheet", href="../../css/common.styl")

		block hdQuote
	body
		block ctn

		script(src="../../lib/zepto.min.js")
		script(src="../../lib/frozen.min.js")
		block ftQuote