// reset
*
	margin 0
	padding 0
	box-sizing border-box
body
	font 16px/1.5 "Helvetica Neue",Helvetica,STHeiTi,sans-serif
	max-width 750px
	margin 0 auto
	color #333
a
	color inherit
	text-decoration none
	background none
	-webkit-tap-highlight-color: rgba(0,0,0,0)
	&:hover
		color inherit

input
select
textarea
	-webkit-appearance none
	&[disabled]
		opacity 1 // remove ios default style
		-webkit-text-fill-color #333
		color #333

// layout
.flex
	display flex
.flex-1
	flex 1
.aib
	align-items baseline
.aic
	align-items center
.jcc
	justify-content center
	
.relative
	position relative

// font
.small
	font-size 12px
.soft
	color rgba(0,0,0,.5)

// utility
.tac
	text-align center
	
// box
.mb10
	margin-bottom 10px
.mtauto
	margin-top auto
.mrauto
	margin-right auto
.mbauto
	margin-bottom auto
.mlauto
	margin-left auto


// components
.trigon
	position absolute
	right 10px
	bottom 14px

	&-down
		width 13px
		
	&-right
		width 8px