body 
	padding-bottom 50px

.total
	line-height 40px
	padding-left .25rem
	font-size 12px
	background #f5f5f5

.msg-list-item
	padding .3rem .25rem
	border-bottom 1px solid #f5f5f5
	
	&-thumb
		width .88rem
		height .88rem
		margin-right .3rem

	&-title
		color #000
		font-size 14px
		margin-bottom 3px

	&-status
		width .34rem

.create
	position fixed
	bottom 0
	left 0
	width 100%
	line-height 50px
	text-align center
	background #39ccd7
	color #fff
	&:hover
	&:active
		color #fff
